* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background-color: #FCA602;
    border-radius: 20px;
    border: 3px solid black;
}

a {
    text-decoration: none;
}